/*

 Mixins

 Mixin tutorial
 https: //scotch.io/tutorials/how-to-use-sass-mixins

 Useful mixins
 http: //zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

*/


@mixin font-size($size: 1.6, $line: $size * 1.5) {
    font-size: ($size * 10) + px;
    line-height: ($line * 10) + px;
    font-size: $size + rem;
    line-height: ($line + rem);
}

@mixin selection {
    ::-moz selection {
        @content;
    }
    ::selection {
        @content;
    }
}

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
    $max: length($values);
    $pxValues: "";
    $remValues: "";
    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value * 10}px;
        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }
    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value}rem;
        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }
    #{$property}: $pxValues;
    #{$property}: $remValues;
}
